/*
  Reset adapted from Josh Comeau
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Top level stuff */

:root {
  --light: #F6F7EB;
  --dark: #444545;
  --green: #96A13A;
  --red: #E94F37;
  --orange: #EE964B;

  background-color: var(--light);
  color: var(--dark);
}
