/*
  Reset adapted from Josh Comeau
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  text-align: center;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea, select, a {
  font: inherit;
  color: inherit;
  background-color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Top level stuff */

:root {
  --light: #F6F7EB;
  --light-filter: invert(99%) sepia(22%) saturate(295%) hue-rotate(12deg) brightness(101%) contrast(94%);;
  --dark: #444545;
  --dark-filter: invert(25%) sepia(5%) saturate(98%) hue-rotate(131deg) brightness(94%) contrast(88%);
  --grey: #9A8C98;
  --grey-filter: brightness(0) saturate(100%) invert(63%) sepia(10%) saturate(343%) hue-rotate(257deg) brightness(90%) contrast(89%);;
  --green: #96A13A;
  --green-filter: invert(62%) sepia(34%) saturate(717%) hue-rotate(27deg) brightness(91%) contrast(85%);
  --red: #E94F37;
  --red-filter: invert(37%) sepia(70%) saturate(4299%) hue-rotate(347deg) brightness(108%) contrast(83%);
  --orange: #EE964B;
  --orange-filter: invert(59%) sepia(56%) saturate(522%) hue-rotate(344deg) brightness(102%) contrast(87%);
  
  background-color: var(--light);
  color: var(--dark);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 3rem;
}

a {
  padding: .7em .4em;
  text-decoration-color: var(--light);
  cursor: pointer;
  transition: all .3s;
}

a:hover {
  text-decoration-color: var(--dark);
}

.footer-img {
  display: inline;
  position: relative;
  filter: var(--dark-filter)
}

#github-icon {
  top: .1em;
  margin-right: .2em;
}

#repo-icon {
  top: .3em;
  margin-left: .1em;
}

/* GAME MODULE */
/* Player info */

.player-info {
  display: flex;
  justify-content: center;
  gap: calc(1rem + 10vw);
}

.player {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
}

.player-info-icon {
  height: 2.7em;
}

img.red {
  filter: var(--red-filter);
}

img.green {
  filter: var(--green-filter);
}

input.player-name {
  font-size: 1.2rem;
  width: 12ch;
  border: none;
  overflow: visible;
  display: block;
  position: relative;
}

.name-wrapper {
  position: relative;
}

.name-wrapper::after {
  --icon-size: 1.5em;
  content: '';
  background: url("./assets/pencilIcon.svg") no-repeat;
  background-size: var(--icon-size);
  height: var(--icon-size);
  width: var(--icon-size);
  top: calc(var(--icon-size) * .2);
  right: calc(var(--icon-size) * -.8);
  filter: var(--dark-filter);
  position: absolute;
  opacity: 1;
}

.name-wrapper:focus-within::after {
  opacity: 0;
}

p.player-score {
  width: 100%;
  font-size: 1.4rem;
  font-weight: bold;
}

p.player-score > span {
  margin-left: .5em;
}

#current-player {
  --half-padding: .4em;
  background-color: var(--dark);
  display: inline-flex;
  padding: calc(var(--half-padding) * 2);
  position: relative;
  border-radius: calc(var(--half-padding) * 2);
}

#current-player::before {
  content: '';
  position: absolute;
  width: 50%;
  top: var(--half-padding);
  bottom: var(--half-padding);
  border-radius: var(--half-padding);
  transition: all .3s;
}

#current-player::before {
  background-color: var(--red);
  left: var(--half-padding);
}

#current-player.o-turn::before {
  background-color: var(--green);
  left: calc(50% - var(--half-padding));
  right: var(--half-padding);
}

.current-player-img {
  height: 3em;
  width: 8em;;
  filter: var(--light-filter);
}

#current-player:not(.o-turn) > .o,
#current-player.o-turn > .x {
  filter: var(--grey-filter);
}

/* Board */

#board {
  margin: 1rem auto;
  --board-size: calc(10vw + 23rem);
  --board-gap: 1rem;
  --board-padding: calc(1.3 * var(--board-gap));
  --board-borders: 2px solid var(--dark);
  --board-corners: 1rem;

  display: grid;
  height: var(--board-size);
  width: var(--board-size);
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  padding: var(--board-padding);
  gap: var(--board-gap);
  border: var(--board-borders);
  border-radius: calc(var(--board-gap) + var(--board-corners));
}

#board > * {
  border: var(--board-borders);
  border-radius: var(--board-corners);
}

/* Round buttons and message*/

.status-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: 1rem;
}

.round-button {
  width: 20ch;
  border: 2px solid var(--dark);
  border-radius: .3rem;
  cursor: pointer;

  transition: all .2s;
}

.round-button:hover {
  color: var(--light);
  background-color: var(--dark);
}
